<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="cleartype" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>

    <meta name="HandheldFriendly" content="true"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人主页</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">

    </script>
    <script> "use strict";
    !function () {
        var i = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : "_Owl_", n = window;
        n[i] || (n[i] = {
            isRunning: !1, isReady: !1, preTasks: [], dataSet: [], use: function (i, t) {
                this.isReady && n.Owl && n.Owl[i](t), this.preTasks.push({api: i, data: [t]})
            }, add: function (i) {
                this.dataSet.push(i)
            }, run: function () {
                var t = this;
                if (!this.isRunning) {
                    this.isRunning = !0;
                    var i = n.onerror;
                    n.onerror = function () {
                        this.isReady || this.add({type: "jsError", data: arguments}), i && i.apply(n, arguments)
                    }.bind(this), (n.addEventListener || n.attachEvent)("error", function (i) {
                        t.isReady || t.add({type: "resError", data: [i]})
                    }, !0)
                }
            }
        }, n[i].run())
    }();
    </script>
    <script>
        cid = "c_6jadt9m";
        ci = 91;
        window.system = {};

        window.openPlatform = '';
        window.openPlatformSub = '';
    </script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/profile.css"/>
    <script crossorigin="anonymous" src="/static/js/stat.js"></script>
    <script>if (window.devicePixelRatio >= 2) {
        document.write('<link rel="stylesheet" href="//ms0.meituan.net/mywww/image-2x.8ba7074d.css"/>')
    }</script>

    <style>
        .radius-default {
            border-radius: 28px
        }

        .navbar-default {
            height: 56px;
        }

        .margin-right-default {
            margin-right: -24px;
        }

        .w-h-28 {
            height: 34px;
            width: 34px;
            text-align: center;
        }
    </style>

    <script>
        $(document).ready(function () {

            $(".inav li").click(function () {
                //    移除所有的 active
                $(".inav li").removeClass("active");
                // 设置当前点击对象的class 值为active
                $(this).addClass("active")
            })
        });
    </script>

</head>

<body>
<!--js 操作cookie文件的操作-->
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script>
    $(document).ready(function () {
        function login_user() {
            let username = $.cookie('username');

            if (username == null) {
                console.log("获取用户的用户名失败");
                return;
            }
            let user_id = $.cookie('user_id');

            if (user_id == null) {
                console.log("获取用户的id失败")
                return;
            }

            console.log("username " + username + " user_id " + user_id);
            // 移除登陆注册的按钮
            $(".login-out").remove();
            // 增加用户的超链接
            // 连接到一个用户的模板
            $(".user-operation").append(`
              <li >
                        <a href="/user/tpl"> ${username} </a>
                    </li>
              `);

            // 退出登陆按钮
            $(".user-operation").append(`
              <li >
                        <a href="/user/loginOut"> 退出登陆 </a>
                    </li>
              `);

        }
        // 判断用户是否已经登陆,
        login_user();
    });
</script>
<!-- 固定导航条navbar-fixed-top -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LOGO</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav inav">
                <li class="active inav"><a href="/">首页</a></li>
                <li><a href="/films" class="">电影</a></li>
                <li><a href="/board" class="">榜单</a></li>
                <!--<li><a href="#" class="">热点</a></li>-->
            </ul>

            <form action="##" class="navbar-form navbar-right">
                <div class="form-group radius-default">
                    <input type="text" class="form-control radius-default  margin-right-default" placeholder="找电影 影人 "/>
                    <button type="submit" class="btn  radius-default w-h-28" aria-hidden="true"></span>
                    </button>

                </div>
            </form>

            <ul class="nav navbar-nav navbar-right user-operation">
                <li class="login-out">
                    <a href="/user/login">登录</a>
                </li>
                <li class="login-out"><a href="" class="disable">|</a></li>
                <li class="login-out"><a href="/user/reg">注册</a></li>

            </ul>
        </div>
    </div>

</nav>
<div class="container page-profile/profile" id="app" >
    <div class="content">
        <div class="main">
            <div class="info-content clearfix">
                <div class="user-profile-nav">
                    <h1>个人中心</h1>
                    <a href="/user/comment" class="comment active">我的影评</a>
                    <a href="/user/tpl" class="profile">基本信息</a>
                </div>
                <div class="comment-container">
                    <div class="profile-title">我的影评</div>
                    <div class="comment-pager">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask3">
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">您确定要删除该影评嘛？删除后，不可恢复～</p>

                <div class="short btn ok-btn">确定</div>
                <div class="short btn cancel-btn">取消</div>
            </div>
        </div>
    </div>

</div>

<div class='mask1'>
    <div class="modal-container" style="display:none">
        <div class="modal">
            <span class="icon"></span>

            <p class="tip">请注意，注销账号会清空所有影评信息、影评、积分、<br>账户余额等信息且无法找回，是否继续？</p>

            <div class="short btn ok-btn">确定</div>
            <div class="short btn cancel-btn">取消</div>
        </div>
    </div>

</div>


</body>


<script>
    $(document).ready(function () {
       // todo
       let user_id = $.cookie("user_id");
       let url = "/comment/user/"+user_id;

       console.log("user "+ url );
        $.get(url,{},function (data,res) {
           console.log(data.code+"  "+JSON.stringify(data.data));
        });


    });

</script>

</html>