<!DOCTYPE html>
<html>
<head>
    <title>XCCCY</title>
    <meta http-equiv="content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index_login.css">

    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="/static/js/index_login.js"></script>

</head>
<body>
<div class="content">
    <div class="ucSimpleHeader">
        <div class="trigger">
            <a href="##">登录</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/user/reg">注册</a>
        </div>
    </div>
    <div class="ucSimpleHeader">
        <a href="##" class="exo1Logo"></a>
    </div>
    <form action="/user/login" method="post" id="mainForm1" class="mainForm mainForm1">
        <div class="number">
            <a href="##" class="linkAGreen">密码登录</a>
            <span></span>
            <a href="##" class="linkAGray number1">验证码登录</a>
        </div>
        <div class="normalInput">
            <input type="text" name="phone" class="phone" id="phone1" maxlength="11" placeholder="手机号">
        </div>

        <div class="normalInput">
            <input type="text" name="password" id="password" class="password" maxlength="16" autocomplete="off"
                   placeholder="密码">
            <input type="password" class="password1" maxlength="16" autocomplete="off" placeholder="密码">
            <a id="pwdBtn" href="##" class="pwdBtnShow" isshow="false">
                <i class="i_icon"></i>
            </a>
        </div>

        <a href="##" class="fullBtnGreen" onclick="login('1')">登录</a>
    </form>
    <form action="/user/login" method="post" id="mainForm2" class="mainForm mainForm2">
        <div class="number">
            <a href="##" class="linkAGreen2 number2">密码登录</a>
            <span></span>
            <a href="#" class="linkAGray2">验证码登录</a>
        </div>
        <div class="normalInput">
            <input type="text" name="phone" class="phone" id="phone" maxlength="22" placeholder="手机号"
                   autocomplete="off">
        </div>

			<div class="normalInput" id="messages">
				<input type="text" id="yzm1" name="yzm"  class="kapkey" maxlength="6" placeholder="验证码">
				<span class="formLine"></span>
				<a href="#" id="getKey1" class="linkAGreen" style="pointer-events: none;" onclick="sendemail1()">短信验证码</a>
			</div>
			<a href="##" onclick="login('2')" class="fullBtnGreen">登录</a>
		</form>
	</div>
</body>
<script>
    function login(value) {
        var f = document.getElementById("mainForm" + value);
        //f.submit();
        let login_url = "/user/login";
        let phone = $("#phone1").val();
        let password = $("#password").val();


        $.post(login_url, {"phone": phone, "password": password}, function (data, res) {
            console.log("data " + data.data);
            console.log(data.data);

            if (data.code == 200) {
                let sps = window.location.href.split(":8081");
                window.location.href = sps[0] + ":8081/";
            } else {
                alert(data.data);
            }
        });


    }
</script>
</html>